<div class="container">
    <h1>Artist Form</h1>
    <form (ngSubmit)="onSubmit()" #artistForm="ngForm">

      TODO: remove later, but {{diagnostic}}
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
          required
          [(ngModel)]="model.name" name="name"
          #name="ngModel"
          #spy>
          TODO: remove, spy classnames {{spy.className}}
          <div [hidden]="name.valid || name.pristine"
            class="alert alert-danger">
            Artist Name is required.
          </div>
      </div>

      <div class="form-group">
        <label for="favoriteColor">Favorite Color</label>
        <input type="text" class="form-control" id="favoriteColor"
          [(ngModel)]="model.favoriteColor" name="favoriteColor">
      </div>

      <div class="form-group">
        <label for="medium">Artist Medium</label>
        <select class="form-control" id="medium" 
          required
          [(ngModel)]="model.medium" name="medium">
          <option *ngFor="let med of medium" [value]="med">{{med}}</option>
        </select>
      </div>
      <!-- <button type="button" class="btn btn-default" (click)="newArtist(); artistForm.reset()">New Artist</button> -->

      <button type="submit" class="btn btn-success" [disabled]="!artistForm.form.valid">Submit</button>
    </form>
</div>
